.container {
  border: 1px solid #000;
  padding: 5px;
  position: relative;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  z-index: 1;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: blue;
  color: brown;
  z-index: 1;
}

.nav-bottom a {
  color: brown;
}

.section-title {
  position: sticky;
  background-color: green;
  text-align: center;
  top: 8px;
  padding: 8px 0;
  color: white;
  z-index: 1;
}

.legend {
  position: absolute;
  background-color: gray;
  border: 1px solid red;
  top: -5px;
}

.sup {
  position: relative;
  top: -4px;
}
